* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pagination {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 400px;
}

.pagination-left-button,
.pagination-right-button {
  height: 48px;
  width: 48px;
  background: none;
  border: 1px solid #628ce8;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-left-button:hover,
.pagination-right-button:hover {
  background-color: #628ce8;
}

.pagination-left-button:hover .pagination-left-icon,
.pagination-right-button:hover .pagination-right-icon {
  stroke: white;
}

.pagination-left-icon,
.pagination-right-icon {
  height: 24px;
  width: 24px;
  stroke: #628ce8;
}

.page-number {
  font-size: 18px;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #343a40;
  border: none;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number.page-number--active,
.page-number:hover,
.page-number:active {
  background-color: #628ce8;
  color: white;
  cursor: pointer;
}

.pagination-left-button--disabled,
.pagination-right-button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f0f0f0;
  border-color: #ccc;
}
