* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  transition-duration: 0.5s;
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
}

.btn-primary {
  background-color: #555ab9;
  color: white;
}

.btn-secondary {
  background-color: #8aaac5;
  color: #333;
}

.btn-danger {
  background-color: #f71212;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-large {
  padding: 10px 20px;
  font-size: large;
}

.btn-medium {
  padding: 9px 18px;
  font-size: medium;
}

.btn-small {
  padding: 8px 16px;
  font-size: small;
}
