.btn {
  transition-duration: 0.5s;
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
}

.btn-primary {
  background-color: #746ff8;
  color: white;
}

.btn-secondary {
  background-color: #8aaac5;
  color: #333;
}

.btn-danger {
  background-color: #f71212;
}

.btn-primary.btn-disabled {
  background-color: rgba(116, 111, 248, 0.4);
  color: #aaa;
}

.btn-secondary.btn-disabled {
  background-color: rgba(138, 170, 197, 0.4);
  color: #bbb;
}

.btn-danger.btn-disabled {
  background-color: rgba(247, 18, 18, 0.4);
  color: #eee;
}

.btn-disabled {
  font-weight: 600;
  cursor: not-allowed;
}

.btn:not(:disabled):hover {
  box-shadow: 0 0 6px 0 grey;
}

.btn-large {
  padding: 10px 20px;
  font-size: large;
}

.btn-medium {
  padding: 9px 18px;
  font-size: medium;
}

.btn-small {
  padding: 8px 16px;
  font-size: small;
}
