* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: sans-serif;
  color: #343a40;
}

.table {
  border-collapse: collapse;
  width: 800px;
  border: 1px solid #2563eb;
}

.thead {
  background-color: #628ce8;
}

.tbody .td {
  text-align: center;
}

.th {
  padding: 16px;
}
.tbody .tr:nth-child(odd) {
  background-color: #ecf0f1;
}
.tbody .tr:nth-child(even) {
  background-color: #ccd2d6;
}
